<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl md:grid md:grid-cols-2 md:py-16 md:px-6">
    <div class="font-light text-black sm:text-lg dark:text-black">
      <h2 class="text-4xl font-bold dark:text-white">Jose Luis Carrera</h2>
      <h3 class="text-3xl font-bold dark:text-white">Español</h3>
      <p class="mb-4 dark:text-white"> Prepararme para grandes retos y fomentar el trabajo en equipo es lo mas imporante de mi día a día. Distribuir cargas de trabajo equitativas no solo en equipos humanos sino en redes, equipos de computo, servidores y maquinas virtuales es la manera correcta de trabajar.</p>
      <p class="mb-4 dark:text-white"> Parte de los retos en los que me he relacionado y solucionado han sido: Proyectos para Banco Industrial utilizando diferentes tecnologias. En mi propio emprendimiento teniendo contacto directo con tecnologias como Angular, nodejs, Docker, y muchas otras más.</p>
      <p class="mb-4 dark:text-white"> Puedes descargar mi Curriculum con los botones de abajo.</p>
      <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" (click)="descargarPDFEspanish()">Español</button>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
      <h3 class="text-3xl font-bold dark:text-white">English</h3>
      <p class="mb-4 dark:text-white"> Prepare my self and promote teamwork is the most important thing on my daily bases. Assigne workload for networks, pc's, servers and vitural machines is the best and correct way to success. </p>
      <p class="mb-4 dark:text-white"> Some of the challanges that I'm related with are: Project for Banco Industrial using different kind of technologies. In my own startup, developing using Angular, nodejs, Docker and so much more.</p>
      <p class="mb-4 dark:text-white"> Bellow you can download my resume.</p>
      <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" (click)="descargarPDFEnglish()">English</button>

    </div>
    <div class="gap-4 mt-8">
      <img class="rounded-full w-96 h-auto" src="assets/Perfil.jpg" alt="Jose Luis Carrera">
    </div>
  </div>
</section>
